.footer{
    padding: 2rem 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: 3rem;
    }
    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}