.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        align-items: flex-end;
    }
    .dark-mode-boton{
        width: 3rem;
        margin-bottom: 1rem;
        filter: invert(100%);//invirtió el color que tenía 

        &:hover{
            cursor: pointer;
        }

        @include tablet{
            margin-top: 0;
        }

    }
}

.barra{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion{
    height: 0;

    //display: none;//esto desaparece al menu
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;//animacion

    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        height: auto;
        
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

//Menú de amburguesa 
.mobile-menu{
    @include tablet{
        display: none;
    }
    img{
        max-width: 8rem;
    }
}
.mostrar{
    //display: block;//me permite mostrar el menu de la navegacion pero no se deja animanr 
    // display: flex;
    // flex-direction: column;

    // @include tablet{
    //     flex-direction: row;
    // }

    visibility: visible;
    opacity: 1;
    height: auto;

}